<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <nav>
        <a href="/">home</a>
        <a href="/signup">signup</a>
        <a href="/login">login</a>
    </nav>
    
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
